[package]
name = "reoserv"
version = "0.1.0"
authors = ["Richard Leek <richard@richardleek.com>"]
edition = "2018"

[profile.release]
panic = 'abort'

[features]
console = ["console-subscriber"]

[dependencies]
bytes = "1.0"
config = { version = "0.12", features = ["toml", "ron"] }
chrono = "0.4"
lazy_static = "1.0"
log = "0.4"
num-traits = "0.2"
pretty_env_logger = "0.4"
futures = "0.3"
tokio = { version = "1", features = ["full", "tracing"] }
reqwest = "0.11"
serde_derive = "^1.0.8"
serde = "^1.0.8"
console-subscriber = { version = "0.1", optional = true }
mysql_async = "0.29"
sha2 = "0.10"
eo = { git = "https://github.com/sorokya/eo", features = ["use_serde", "generate_protocol"] }
rand = "0.8"
evalexpr = "8.1.0"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"
