[package]
name = "reoserv"
version = "0.1.0"
authors = ["Richard Leek <richard@richardleek.com>"]
edition = "2018"

[profile.release]
panic = 'abort'

[features]
console = ["console-subscriber"]

[dependencies]
bytes = "1.0"
config = { version = "0.13", features = ["toml", "ron"] }
crc = "3.0.1"
chrono = "0.4"
lazy_static = "1.0"
log = "0.4"
num-traits = "0.2"
pretty_env_logger = "0.5"
futures = "0.3"
tokio = { version = "1", features = ["full", "tracing"] }
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls"] }
glob = "0.3.1"
serde_json = "^1.0.108"
serde_derive = "^1.0.8"
serde = "^1.0.193"
console-subscriber = { version = "0.2", optional = true }
mysql_common = { version = "0.31", features = ["chrono"] }
mysql_async = { version = "0.33", default-features = false, features = ["default-rustls"] }
argon2 = "0.5.2"
eo = { git = "https://github.com/sorokya/eo", features = ["use_serde", "generate_protocol"] }
rand = "0.8"
evalexpr = "11.3.0"
duration-str = "0.7.1"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"
