(
    commands: [
        (
            name: "warp",
            alias: "w",
            description: "Warp to a location",
            usage: "$warp 5 25 25",
            admin_level: "Guardian",
            args: [
                (
                    name: "map",
                    type: "UInt",
                    required: true,
                    min: 1,
                ),
                (
                    name: "x",
                    type: "UInt",
                ),
                (
                    name: "y",
                    type: "UInt",
                ),
            ],
        ),
        (
            name: "warptome",
            alias: "wtm",
            description: "Warp target player to your location",
            usage: "$warptome player",
            admin_level: "Guardian",
            args: [
                (
                    name: "player",
                    type: "String",
                    required: true,
                ),
            ],
        ),
        (
            name: "warpmeto",
            alias: "wmt",
            description: "Warp yourself to target player",
            usage: "$warpmeto player",
            admin_level: "Guardian",
            args: [
                (
                    name: "player",
                    type: "String",
                    required: true,
                ),
            ],
        ),
        (
            name: "jail",
            alias: "j",
            description: "Jail a player",
            usage: "$jail player",
            admin_level: "Guardian",
            args: [
                (
                    name: "player",
                    type: "String",
                    required: true,
                ),
            ],
        ),
        (
            name: "unjail",
            alias: "uj",
            description: "Unjail a player",
            usage: "$unjail player",
            admin_level: "Guardian",
            args: [
                (
                    name: "player",
                    type: "String",
                    required: true,
                ),
            ],
        ),
        (
            name: "kick",
            alias: "k",
            description: "Kick a player",
            usage: "$kick player",
            admin_level: "Guardian",
            args: [
                (
                    name: "player",
                    type: "String",
                    required: true,
                ),
            ],
        ),
        (
            name: "set",
            alias: "set",
            description: "Set stats for a player",
            usage: "$set level player 10",
            admin_level: "GameMaster",
            args: [
                (
                    name: "stat",
                    type: "String",
                    required: true,
                ),
                (
                    name: "player",
                    type: "String",
                    required: true,
                ),
                (
                    name: "amount",
                    type: "UInt",
                    required: true,
                ),
            ],   
        ),
    ]
)
