/*
 * Formulas for stat calculations
 *
 * Copied from eoserv
 * https://github.com/eoserv/mainclone-eoserv/blob/main/data/formulas.ini
 *
 */

(
    hp: "10 + (2.5 * level) + (2.5 * con)",
    tp: "10 + (2.5 * level) + (2.5 * int) + (1.5 * wis)",
    sp: "20 + (2 * level)",
    max_weight: "70 + base_str",
    hit_rate: "if(target_sitting, 1.0, min(0.8, max(0.5, if(accuracy + target_evade = 0, 0.5, accuracy / (target_evade * 2)))))",
    damage: "if(critical, 1.5, 1) * max(1, if(damage >= target_armor * 2, damage, damage * pow((damage / (target_armor * 2), 2))))",
    classes: [
        // Melee
        (
            damage: "str / 3",
            accuracy: "agi / 3",
            evade: "agi / 5",
            defense: "con / 4",
        ),
        // Rogue
        (
            damage: "str / 5",
            accuracy: "agi / 3",
            evade: "agi / 3",
            defense: "con / 4",
        ),
        // Caster
        (
            damage: "int / 3",
            accuracy: "wis / 3",
            evade: "agi / 4",
            defense: "con / 5",
        ),
        // Archer
        (
            damage: "str / 6",
            accuracy: "agi / 5",
            evade: "agi / 5",
            defense: "con / 5",
        ),
        // Peasant
        (
            damage: "0",
            accuracy: "0",
            evade: "0",
            defense: "0",
        ),
    ]
)
