/*
 * Formulas for stat calculations
 *
 * Copied from eoserv
 * https://github.com/eoserv/mainclone-eoserv/blob/main/data/formulas.ini
 *
 */

(
    hp: "10.0 + (2.5 * level) + (2.5 * con)",
    tp: "10.0 + (2.5 * level) + (2.5 * int) + (1.5 * wis)",
    sp: "20.0 + (2.0 * level)",
    max_weight: "70.0 + base_str",
    hit_rate: "if(target_sitting, 1.0, min(0.8, max(0.5, if(accuracy + target_evade == 0.0, 0.5, accuracy / (target_evade * 2.0)))))",
    damage: "if(critical, 1.5, 1.0) * max(1, if(damage >= target_armor * 2.0, damage, damage * math::pow((damage / (target_armor * 2.0), 2.0))))",
    classes: [
        // Melee
        (
            damage: "str / 3.0",
            accuracy: "agi / 3.0",
            evade: "agi / 5.0",
            defense: "con / 4.0",
        ),
        // Rogue
        (
            damage: "str / 5.0",
            accuracy: "agi / 3.0",
            evade: "agi / 3.0",
            defense: "con / 4.0",
        ),
        // Caster
        (
            damage: "int / 3.0",
            accuracy: "wis / 3.0",
            evade: "agi / 4.0",
            defense: "con / 5.0",
        ),
        // Archer
        (
            damage: "str / 6.0",
            accuracy: "agi / 5.0",
            evade: "agi / 5.0",
            defense: "con / 5.0",
        ),
        // Peasant
        (
            damage: "0.0",
            accuracy: "0.0",
            evade: "0.0",
            defense: "0.0",
        ),
    ]
)
