(
  arenas: [
    (
      map: 46,
      rate: 90,
      block: 4,
      spawns: [
        ( from: ( x: 11, y: 44 ), to: ( x: 12, y: 24 ) ), 
        ( from: ( x: 13, y: 44 ), to: ( x: 12, y: 17 ) ), 
        ( from: ( x: 15, y: 44 ), to: ( x: 12, y: 10 ) ), 
        ( from: ( x: 17, y: 44 ), to: ( x: 18, y: 24 ) ), 
        ( from: ( x: 19, y: 44 ), to: ( x: 18, y: 10 ) ), 
        ( from: ( x: 21, y: 44 ), to: ( x: 24, y: 24 ) ), 
        ( from: ( x: 23, y: 44 ), to: ( x: 24, y: 17 ) ), 
        ( from: ( x: 25, y: 44 ), to: ( x: 24, y: 10 ) ), 
      ]
    ),
    (
      map: 137,
      rate: 90,
      block: 2,
      spawns: [
        ( from: ( x: 17, y: 9 ), to: ( x: 14, y: 10 ) ), 
        ( from: ( x: 17, y: 11 ), to: ( x: 6, y: 10 ) ), 
      ]
    ),
    (
      map: 138,
      rate: 90,
      block: 2,
      spawns: [
        ( from: ( x: 17, y: 9 ), to: ( x: 14, y: 10 ) ), 
        ( from: ( x: 17, y: 11 ), to: ( x: 6, y: 10 ) ), 
      ]
    ),
    (
      map: 183,
      rate: 90,
      block: 4,
      spawns: [
        ( from: ( x: 18, y: 39 ), to: ( x: 16, y: 12 ) ), 
        ( from: ( x: 20, y: 39 ), to: ( x: 16, y: 28 ) ), 
        ( from: ( x: 22, y: 39 ), to: ( x: 22, y: 20 ) ), 
        ( from: ( x: 24, y: 39 ), to: ( x: 28, y: 28 ) ), 
        ( from: ( x: 26, y: 39 ), to: ( x: 28, y: 12 ) ), 
      ]
    ),
    (
      map: 184,
      rate: 90,
      block: 4,
      spawns: [
        ( from: ( x: 18, y: 39 ), to: ( x: 16, y: 12 ) ), 
        ( from: ( x: 20, y: 39 ), to: ( x: 16, y: 28 ) ), 
        ( from: ( x: 22, y: 39 ), to: ( x: 22, y: 20 ) ), 
        ( from: ( x: 24, y: 39 ), to: ( x: 28, y: 28 ) ), 
        ( from: ( x: 26, y: 39 ), to: ( x: 28, y: 12 ) ), 
      ]
    )
  ]
)
