(
  announce_freeze: "Attention!! {victim} movement has been frozen -{name}",
  announce_unfreeze: "Attention!! {victim} movement has been released -{name}",
  announce_remove: "Attention!! {victim} has been removed from the game -{name} [{method}]",
  announce_mute: "Attention!! {victim} has been muted -{name}",
  announce_global: "World communications changed to: {state} -{name}",
  global_locked: "This channel is temporarily disabled",
  wedding_start: "Very well, the ceremony will start in {delay} seconds.",
  wedding_one: "we are here at the invitation of {partner} and {name}, who have come before us to join together in marriage.",
  wedding_two: "their relationship is based on love, respect, and a determination to face the future together in health or sickness, in joy and sorrow.",
  wedding_do_you: "{partner}, do you take {name} to be your partner, and promise to love, comfort and stay together as long as you both shall live?",
  wedding_i_do: "Yes, i do",
  wedding_three: "Let these rings be given and received as a token of your affection, sincerity and trust in one another.",
  wedding_four: "Please place these rings on eachothers finger..",
  wedding_five: "{partner} and {name} have consented together in marriage. And are now partners for as long you both shall live.",
  wedding_end: "Congratulations to the couple!",
  wedding_error: "I'm sorry, something went wrong..",
  evacuate_warning: "Warning! - please leave this map in {seconds} seconds or be sent to jail.",
  evacuate_last_warning: "Last warning! - leave this map in {seconds} seconds or be sent to jail.",
)
